<footer class="footer">
  <div class="container">
    <div class="row">
        <div class="col-sm text-center text-muted">
          <ul>
            <li><strong>Contact:</strong></li>
            <li><strong>email:</strong>dancastillo99@gmail.com</li>
            <li><strong><a href="https://github.com/dancastillo">github</a></strong></li>
            <li><strong><a href="https://www.linkedin.com/in/daniel-castillo/">linkedin</a></strong></li>
          </ul>
        </div>
        <div class="col-sm text-center text-muted">
          testing12
        </div>
    </div>
    <div class="row">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
  </div>
</footer>