<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<div class="container">
  <div *ngFor="let user of users" class="text-center pt-4">
    <div class="row">
      <div class="col-sm-12">
        <h1>
          {{ user.name }}
        </h1>
      </div>
      <div class="col-sm-12">
        <h4>
          {{ user.position }}
        </h4>
      </div>
    </div>
    
    <div class="row">
      <div class="offset-lg-3 col-lg-2 offset-md-3 col-md-2 col-sm-12">
        <a href="mailto:{{ user.email }}">
          <img src="{{ email }}" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <a href="{{ user.github }}">
          <img src="{{ github }}" alt="">
        </a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-12">
        <a href="{{ user.linkedin }}">
          <img src="{{ linkedin }}" alt="">
        </a>
      </div>
    </div>
  </div>
  <app-project></app-project>
  <app-school></app-school>
  <app-job></app-job>
  <app-skills></app-skills>
</div>
<app-contact [users]="users"></app-contact>