<div class="row text-center">
  <div class="col-sm-12">
    <h3>Education</h3>
  </div>
</div>
<div class="row">
  <div *ngFor="let school of schools" class="card col-lg-12 col-md-6 col-sm-12 mb-2">
    <h4 class="card-header text-center">{{ school.name }}</h4>
    <div class="card-block">
      <div class="card-title">
        <div class="row text-center">
            <h6 class="col-md-6 col-sm-12">{{ school.degree }}: {{ school.major }}</h6>
            <h6 class="col-md-6 col-sm-12">{{ school.graYear }}</h6>  
        </div>
      </div>
      <p class="card-text">Major: {{ school.major }}</p>
      <p *ngIf="school.minor" class="card-text">Minor: {{ school.minor }}</p>
    </div>
  </div>
  <div class="alert alert-danger" *ngIf="error">{{ error }}</div>      
</div>