<div class="container">
  <div class="row">
    <div *ngFor="let school of schools" class="card col-lg-12 col-md-6 col-sm-12">
      <h3 class="card-header text-center">{{ school.name }}</h3>
      <div class="card-block">
        <div class="card-title">
          <div class="row text-center">
              <h5 class="col-md-6 col-sm-12">{{ school.degree }}: {{ school.major }}</h5>
              <h5 class="col-md-6 col-sm-12">{{ school.graYear }}</h5>  
          </div>
        </div>
        <p class="card-text">Major: {{ school.major }}</p>
        <p *ngIf="school.minor" class="card-text">Minor: {{ school.minor }}</p>
      </div>
    </div>
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
  </div>
</div>